@{
    ViewBag.Title = "ListAllItem2";
}
@model IEnumerable<SteamDBCopyCatMVC.EDMX.TabelBarang>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Cari Barang yang kamu mau</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="container">
                                @foreach (SteamDBCopyCatMVC.EDMX.TabelBarang tabelbarang in Model)
                                {
                                    <fieldset>
                                        <div class="card-body p-0">
                                            <ul class="products-list product-list-in-card pl-2 pr-2">
                                                <li class="item">
                                                    <asp:Repeater ID="RepeaterRecentAddedItem" runat="server">
                                                        <ItemTemplate>
                                                            <li class="item">
                                                                <div class="product-img">
                                                                    <asp:ImageButton runat="server" src="@tabelbarang.Images" class="img-size-50" alt="Prodcut Image" />
                                                                    <img src="@tabelbarang.Images" alt="Product Image" />
                                                                </div>
                                                                <div class="product-info">
                                                                    <asp:Label ID="labelname1" class="product-title" runat="server">@Html.ActionLink(@tabelbarang.Nama_Barang, "PartialViewDetailItem", new { ID = tabelbarang.ID })</asp:Label>
                                                                    <span class="badge badge-danger float-right">Rp. @tabelbarang.Harga</span>
                                                                    <span class="product-description">@tabelbarang.Tipe_Barang</span>
                                                                </div>
                                                            </li>
                                                        </ItemTemplate>
                                                    </asp:Repeater>
                                                <li>
                                                </li>
                                            </ul>
                                        </div>
                                    </fieldset>
                                }
                            </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
<!-- ./wrapper -->
<!-- jQuery -->
<script src="/Plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/Plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="/Plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/Plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/Plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/Plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/Plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/Plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/Plugins/jszip/jszip.min.js"></script>
<script src="/Plugins/pdfmake/pdfmake.min.js"></script>
<script src="/Plugins/pdfmake/vfs_fonts.js"></script>
<script src="/Plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/Plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/Plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<script src="~/Scripts/jquery-3.6.0.js"></script>

<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
<!-- Page specific script -->
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>